body{
  color: #242424;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #F8F8F8;
  @media($bp-larger-than-desktop) {
    font-size: 15px;
  }
}
body *{
  box-sizing: border-box;
}

.container{
  padding: 0 15px;
}
@media (max-width: 550px) {
  .phablet-container{
    width: 100%;
    padding: 0;
  }
}
.phablet-container{
  &__inside{
    padding: 0 15px;
    @media ($bp-larger-than-phablet) {
      padding: 0;
    }
  }
}
@media (max-width: 750px) {
  .tablet-container{
    width: 100%;
    padding: 0;
  }
}
.tablet-container{
  &__inside{
    padding: 0 15px;
    @media ($bp-larger-than-tablet) {
      padding: 0;
    }
  }
}
.in-mobile{
  display: inline;
  @media($bp-larger-than-phablet) {
    display: none;
  }
}
.in-desktop{
  display: none;
  @media($bp-larger-than-phablet) {
    display: inline;
  }
}
p{
  line-height: 120%;
  margin: 0 0 12px 0;
  font-size: 12px;
  @media($bp-larger-than-mobile) {
    font-size: 12px;
  }
}
a{
  color: #242424;
  outline: none;
  text-decoration: none;
  &:hover{
    color: $red;
    text-decoration: underline;
  }
}
button{
  outline: none;
}
.btn{
  background: #0088CC;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  transition: $cubic;
  display: flex;
  height: 30px;
  width: 100%;
  max-width: 220px;
  align-items: center;
  justify-content: center;
  border: 0 none;
  &:hover{
    background-color: $red;
    text-decoration: none;
    color: #fff;
  }
}
.btn-o{
  background: transparent;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  color: $red;
  transition: $cubic;
  display: flex;
  height: 29px;
  width: 100%;
  max-width: 220px;
  align-items: center;
  justify-content: center;
  border: 1px solid $red;
  &:hover{
    background-color: $red;
    text-decoration: none;
    color: #fff;
  }
}
.topline{
  background: #F8F8F8;
  display: none;
  position: relative;
  z-index: 110;
  @media ($bp-larger-than-phablet) {
    display: block;
  }
  &__grid{
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    @media ($bp-larger-than-tablet) {
      justify-content: space-between;
    }
  }
  &__address{
    font-size: 12px;
    line-height: 12px;
    display: none;
    @media ($bp-larger-than-desktophd) {
      display: block;
    }
  }
  &__email{
    font-size: 16.5px;
    line-height: 20px;
    display: none;
    @media ($bp-larger-than-desktop) {
      display: block;
    }
    a{
      transition: $anim5;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__phone{
    font-size: 20px;
    line-height: 24px;
    a{
      transition: $anim5;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.topline-menu{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  @media ($bp-larger-than-tablet) {
    display: flex;
  }
  li{
    font-size: 12px;
    margin: 0;
    padding: 0;
    + li {
      margin-left: 15px;
    }
  }
  a{
    font-size: 12px;
    line-height: 12px;
    transition: $anim5;
    &:hover{
      text-decoration: none;
    }
  }
}
.fixed-header{
  background-color: #fff;
  padding-bottom: 1px;
  position: relative;

}
.header{
  position: relative;
  //z-index: 110;
  background-color: #fff;
  @media ($bp-larger-than-phablet) {
    z-index: 110;
    padding-bottom: 2px;
    border-bottom: 1px solid #F8F8F8;
  }
  &__grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @media ($bp-larger-than-phablet) {
      height: 53px;
      flex-direction: row;
    }
  }
  &__logo{
    img{
      width: 240px;
      @media ($bp-larger-than-iphone5) {
        width: auto;
      }
    }
  }
  &__left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #F8F8F8;
    height: 50px;
    position: relative;
    z-index: 110;
    @media ($bp-larger-than-phablet) {
      height: auto;
      background: #fff;
    }
    @media ($bp-larger-than-desktop) {
      width: auto;
    }
  }
  &__burger{
    display: block;
    @media ($bp-larger-than-phablet) {
      margin-right: 25px;
    }
    @media ($bp-larger-than-desktop) {
      display: none;
      margin-right: 25px;
    }
  }
  &__right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: relative;
    @media ($bp-larger-than-phablet) {
      height: auto;
      width: auto;
    }
    @media ($bp-larger-than-desktop) {
      width: 100%;
    }
  }
  &__logo{
    a{
      font-size: 0;
    }
    img{
      vertical-align: top;
    }
  }
  &__menu{
    width: 100%;
    display: none;
    transition: $anim5;
    @media ($bp-larger-than-desktop) {
      display: block;
    }
  }
  &__search{
    //display: none;
    height: 35px;
    flex-shrink: 0;
    position: relative;
    @media ($bp-larger-than-phablet) {
      width: 144px;
      display: block;
    }
    @media ($bp-larger-than-tablet) {
      z-index: 120;
    }
  }
  &__cart{
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    width: 52px;
    @media ($bp-larger-than-phablet) {
      width: 62px;
    }
  }
  &__contacts{
    display: block;
    width: 100%;
    padding-right: 35px;
    @media ($bp-larger-than-phablet) {
      display: none;
      padding-right: 0;
    }
  }
}
body.fixed{
  padding-top: 115px;
  @media ($bp-larger-than-phablet) {
    padding-top: 86px;
  }
  .fixed-header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
  }
}
.header-phone{
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.header-worktime{
  text-align: center;
  font-size: 10px;
  line-height: 12px;
}
.burger{
  background: #08c;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  position: relative;
  flex-direction: column;
  span{
    height: 2px;
    border-radius: 1px;
    width: 100%;
    display: block;
    background: transparent;
  }
  &__line-one{
    transition: $anim;
    position: relative;
    &:before{
      content: "";
      display: inline-block;
      width: 51%;
      background: #fff;
      height: 2px;
      border-radius: 0px;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(0);
      transform-origin: 100% 0;
      transition: $cubic;
    }
    &:after{
      content: "";
      display: inline-block;
      width: 50%;
      background: #fff;
      height: 2px;
      border-radius: 0px;
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(0);
      transform-origin: 0 0;
      transition: $cubic;
    }
  }
  &__line-two{
    margin: 4px 0;
    transition: $anim;
    position: relative;
    &:before{
      content: "";
      display: inline-block;
      width: 51%;
      background: #fff;
      height: 2px;
      border-radius: 0px;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(0);
      transform-origin: 100% 0;
      transition: $cubic;
    }
    &:after{
      content: "";
      display: inline-block;
      width: 50%;
      background: #fff;
      height: 2px;
      border-radius: 0px;
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(0);
      transform-origin: 0 0;
      transition: $cubic;
    }
  }
  &__line-three{
    transition: $anim5;
    position: relative;
    opacity: 1;
    &:before{
      content: "";
      display: inline-block;
      width: 51%;
      background: #fff;
      height: 2px;
      border-radius: 0px;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(0);
      transform-origin: 100% 0;
      transition: $cubic;
    }
    &:after{
      content: "";
      display: inline-block;
      width: 50%;
      background: #fff;
      height: 2px;
      border-radius: 0px;
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(0);
      transform-origin: 0 0;
      transition: $cubic;
    }
  }
}
body.show-slide-menu{
  .burger{
    &__line-one{
      &:before{
        transform: rotate(-45deg);
      }
      &:after{
        transform: rotate(45deg);
      }
    }
    &__line-two{
      &:before{
        transform: rotate(-45deg);
      }
      &:after{
        transform: rotate(45deg);
      }
    }
    &__line-three{
      opacity: 0;
    }
  }
}
.cart-top{
  border: 1px solid #0088CC;
  background: #fff;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-left: 6px;
  position: relative;
  transition: $cubic;
  @media ($bp-larger-than-phablet) {
    background: #0088CC;
  }
  &:hover{
    border-color: $red;
    background: $red;
    svg{
      vertical-align: top;
      path{
        stroke: #fff;
        @media ($bp-larger-than-phablet) {
          stroke: #fff;
        }
      }
    }
  }
  svg{
    vertical-align: top;
    path{
      stroke: #0088CC;
      transition: $cubic;
      @media ($bp-larger-than-phablet) {
        stroke: #fff;
      }
    }
  }
  .count{
    position: absolute;
    top: 4px;
    right: 1px;
    background: #FFFFFF;
    border: 1px solid #0088CC;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 10px;
    line-height: 11px;
    color: #242424;
    width: 18px;
    height: 12px;
    text-align: center;
  }
}

.menu-top{
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0 20px;
  li{
    margin: 0;
    padding: 0;
  }
  a{
    font-size: 12px;
    transition: $anim5;
    &:hover{
      text-decoration: none;
    }
  }
}

.search{
  background: #F8F8F8;
  border-radius: 10px;
  width: 0;
  flex-shrink: 0;
  display: flex;
  padding-right: 35px;
  //position: relative;
  transition: $cubic;
  top: 0;
  right: 0;
  position: absolute;
  @media ($bp-larger-than-phablet) {
    width: 144px;
  }
  @media ($bp-larger-than-tablet) {
    width: 144px;
  }
  form{
    display: flex;
    width: 100%;
  }
  input[type="text"] {
    width: 100%;
    height: 35px;
    border: 0 none;
    background: transparent;
    font-size: 10px;
    line-height: 12px;
    color: #888888;
    padding: 4px 12px;
    max-width: none;
  }
  button{
    background: #fff;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    padding-top: 4px;
    padding-left: 6px;
    border: 1px solid #0088CC;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: $cubic;
    @media ($bp-larger-than-phablet) {
      background: #0088CC;
    }
    &:hover{
      border-color: $red;
      background: $red;
      svg{
        path{
          stroke: #fff;
          @media ($bp-larger-than-phablet) {
            stroke: #fff;
          }
        }
      }
    }
  }
  svg{
    path{
      transition: $cubic;
      stroke: #0088CC;
      @media ($bp-larger-than-phablet) {
        stroke: #fff;
      }
    }
  }
}
body.show-search{
  .header__search{
    z-index: 120;
  }
  .search{
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
    @media ($bp-larger-than-iphone5) {
      width: 270px;
    }
    @media ($bp-larger-than-iphone6) {
      width: 300px;
    }
    @media ($bp-larger-than-phablet) {
      width: 150px;
    }
    @media ($bp-larger-than-tablet) {
      width: 390px;
    }
    @media ($bp-larger-than-desktop) {
      width: 650px;
    }
    @media ($bp-larger-than-desktophd) {
      width: 700px;
    }
  }
  .header__menu{
    opacity: 0;
  }
}
.owl-nav *{
  outline: none;
}
.owl-dots *{
  outline: none;
}

.slider{
  padding-top: 15px;
  @media ($bp-larger-than-phablet) {
    padding-top: 26px;
  }
  &__item{
    height: 136px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 25px;
    padding-right: 10px;
    @media ($bp-larger-than-phablet) {
      background-position: 65% top;
      height: 340px;
      padding-top: 94px;
    }
    @media ($bp-larger-than-tablet) {
      padding-left: 80px;
      padding-top: 94px;
    }
    @media ($bp-larger-than-desktop) {
      background-position: right top;
      padding-left: 97px;
      padding-top: 94px;
    }
  }
  &__panel{

  }
  &__header{
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    max-width: 200px;
    @media ($bp-larger-than-phablet) {
      font-size: 24px;
      line-height: 37px;
      max-width: 100%;
    }
    @media ($bp-larger-than-desktop) {
      font-size: 30px;
    }
  }
  &__text{
    font-size: 18px;
    line-height: 29px;
    display: none;
    @media ($bp-larger-than-phablet) {
      display: block;
    }
    @media ($bp-larger-than-desktop) {

      font-size: 24px;
    }
  }
  &__button{
    margin-top: 22px;
    @media ($bp-larger-than-phablet) {
      margin-top: 25px;
    }
    .btn{
      font-size: 12px;
      max-width: 120px;
      height: 25px;
      @media ($bp-larger-than-phablet) {
        font-size: 14px;
        line-height: 17px;
        max-width: 220px;
        height: 30px;
      }
    }
  }
  .owl-dots{
    text-align: center;
    font-size: 0;
    position: absolute;
    bottom: 3px;
    width: 100%;
    @media ($bp-larger-than-phablet) {
      bottom: 10px;
    }
  }
  button.owl-dot{
   span{
      width: 8px;
      height: 8px;
      box-sizing: border-box;
      background: #FFFFFF;
      border: 1px solid $red;
      display: block;
      margin: 0 2px;
      border-radius: 50%;
     @media ($bp-larger-than-phablet) {
       width: 10px;
       height: 10px;
       margin: 0 7px;
     }
    }
    &.active{
      span{
        background-color: #EF5C2E;
      }
    }
  }
}

.categories{
  padding: 16px 0 0;
  @media ($bp-larger-than-phablet) {
    padding: 21px 0;
  }
  &__header{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 26px;
    display: none;
    @media ($bp-larger-than-phablet) {
      display: block;
    }
  }
  &__grid{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  &__item{
    width: 33.33%;
    padding: 0 10px;
  }
}
.category-card{
  height: 135px;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 367px;
  border-radius: 10px;
  position: relative;
  display: block;
  background-position: center;
  transition: $anim5;
  border: 1px solid rgba(255, 255, 255, 0.85);
  @media ($bp-larger-than-phablet) {
    height: 173px;
  }
  &:hover{
    border-color: $red;
    .category-card{
       &__name{
         border-color: $red;
         bottom: 0px;
       }
    }
  }
  &__name{
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 6px 12px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid transparent;
    transition: $anim5;
    @media ($bp-larger-than-phablet) {
      font-size: 14px;
      line-height: 17px;
      height: 30px;
    }
  }
}

.footer{
  padding: 23px 0 25px;
  background: #333333;
  border-top: 1px solid #FFFFFF;
  display: none;
  @media ($bp-larger-than-phablet) {
    display: block;
  }
  @media ($bp-larger-than-desktop) {
    padding: 23px 0 14px;
  }
  &__grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media ($bp-larger-than-desktop) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  &__left{
    width: 450px;
    flex-shrink: 0;
    margin-bottom: 30px;
    @media ($bp-larger-than-desktop) {
      padding-left: 12px;
      width: 422px;
      margin-bottom: 0;
    }
  }
  &__right{
    display: flex;
    justify-content: space-between;
    width: 450px;
    @media ($bp-larger-than-desktop) {
      //justify-content: space-around;
      justify-content: flex-start;
      padding-left: 20px;
      //padding-right: 20px;
      width: 100%;
    }
  }
  &__logos{
    display: flex;
    align-items: center;
    margin-bottom: 26px;
  }
  &__logo{
    margin-right: 14px;
  }
  &__catalog-header{
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  &__catalog-menu{
    @media ($bp-larger-than-desktop) {
      margin-left: 68px;
      width: 290px;
    }
    @media ($bp-larger-than-desktophd) {
      margin-left: 148px;
    }
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      li{
        margin: 0;
        padding: 0;
        + li{
          margin-top: 16px;
        }
        a{
          color: #fff;
          text-decoration: none;
          transition: $anim5;
          padding-left: 30px;
          position: relative;
          font-size: 14px;
          &:hover{
            color: $red;
            text-decoration: none;
            &:before{
              background: $red;
            }
          }
          &:before{
            content: "";
            display: inline-block;
            width: 14px;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 9px;
            left: 4px;
            transition: $anim5;
          }
        }
      }
    }
  }
  &__page-menu{
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      li{
        margin: 0;
        padding: 0;
        + li{
          margin-top: 12px;
        }
        a{
          color: #fff;
          text-decoration: none;
          transition: $anim5;
          padding-left: 30px;
          position: relative;
          font-size: 14px;
          &:hover{
            color: $red;
            text-decoration: none;
            &:before{
              background: $red;
            }
          }
          &:before{
            content: "";
            display: inline-block;
            width: 14px;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 9px;
            left: 4px;
            transition: $anim5;
          }
        }
      }
    }
  }
}
.footer-contacts{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  &__left{

  }
  &__right{

  }
  &__email{
    margin-bottom: 4px;
    a{
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      transition: $anim5;
      &:hover{
        color: $red;
        text-decoration: none;
      }
    }
  }
  &__phone{
    margin-bottom: 4px;
    a{
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      transition: $anim5;
      &:hover{
        color: $red;
        text-decoration: none;
      }
    }
  }
  &__email-hint{
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
  &__phone-hint{
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
}
.footer-req{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 2px;
  padding-right: 25px;
}
.footer-address{
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.social-icon{
  margin: 0 6px;
  &:hover{
    text-decoration: none;
    svg{
      path{
        transition: $anim5;
        fill: $red;
      }
    }
  }
}

.footer-mobile {
  padding: 8px 0 12px;
  background: #333333;
  display: block;
  @media ($bp-larger-than-phablet) {
    display: none;
  }
  &__logo{
    text-align: center;
    margin-bottom: 8px;
  }
  &__menu{
    margin-bottom: 10px;
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      li{
        width: 50%;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
        text-align: center;
        a{
          color: #fff;
          text-decoration: none;
          transition: $anim5;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #FFFFFF;
          &:hover{
            color: $red;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__contacts{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__contact{
    margin-right: 16px;
  }
  &__email{
    margin-bottom: 4px;
    text-align: center;
    a{
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      transition: $anim5;
      &:hover{
        color: $red;
        text-decoration: none;
      }
    }
  }
  &__phone{
    margin-bottom: 4px;
    text-align: center;
    a{
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
      transition: $anim5;
      &:hover{
        color: $red;
        text-decoration: none;
      }
    }
  }
}
.bottom-line{
  background: #242424;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.8px;
  padding: 7px 0 14px;
  @media ($bp-larger-than-tablet) {
    padding: 0;
  }
  &__grid{
    display: flex;
    align-items: center;
    flex-direction: column;
    @media ($bp-larger-than-phablet) {
      height: 35px;
      flex-direction: row;
    }
    a{
      color: #FFFFFF;
      transition: $anim5;
      font-size: 11px;
      &:hover{
        color: $red;
        text-decoration: none;
      }
    }
  }
  &__copyright{
    white-space: nowrap;
    margin: 0;
    @media ($bp-larger-than-tablet) {
      margin: 0;
    }
  }
  &__menu{
    width: 100%;
    text-align: center;
    margin: 0;
    @media ($bp-larger-than-tablet) {
      text-align: left;
      margin: 0;
    }
    a{
      margin-left: 0;
      padding-left: 0;
      font-size: 11px;
      position: relative;
      display: block;
      @media ($bp-larger-than-tablet) {
        display: inline-block;
        margin-left: 4px;
        padding-left: 5px;
      }
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        height: 10px;
        width: 1px;
        background: #fff;
        display: none;
        @media ($bp-larger-than-tablet) {
          display: inline-block;
        }
      }
    }
  }
  &__dev{
    white-space: nowrap;
  }
}


.breadcrumbs{
  padding: 2px 0 11px;
  display: none;
  @media ($bp-larger-than-phablet) {
    display: block;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
      margin: 0;
      padding: 0;
      display: inline-block;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
      color: #888888;
      +li{
        &:before{
          margin: 0 7px;
          content: "\203A";
          vertical-align: top;
          display: inline-block;
          background-repeat: no-repeat;
          color: #888888;
          font-size: 18px;
          line-height: 14px;
        }
      }
    }
    a{
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #888;
      text-decoration: none;
      transition: $anim5;
      &:hover{
        color: $red;
        text-decoration: none;
      }
    }
  }
}

h1{
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #242424;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 0;
  @media ($bp-larger-than-tablet) {
    font-size: 18px;
    line-height: 22px;
  }
}

.no-mobile{
  display: none;
  @media ($bp-larger-than-desktop) {
  display: inline-block;
    margin-bottom: 4px;
  }
}

.maintext{
  padding-top: 12px;
  padding-bottom: 4px;
  @media ($bp-larger-than-phablet) {
    padding-bottom: 23px;
  }
  h1{
    margin-bottom: 12px;
    @media ($bp-larger-than-phablet) {
      margin-bottom: 15px;
    }
  }
}

.maintext-bottom{
  padding-top: 5px;
  padding-bottom: 7px;
  @media ($bp-larger-than-phablet) {
    padding-bottom: 15px;
    padding-top: 14px;
  }
  h1{
    margin-bottom: 15px;
  }
}


.brands{
  padding: 10px 0 0;
  @media ($bp-larger-than-phablet) {
    padding: 10px 0;
  }
  &__header{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 21px;
    @media ($bp-larger-than-phablet) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 29px;
    }
  }
  &__grid{
    display: flex;
    justify-content: center;
    margin-left: -7px;
    margin-right: -7px;
    flex-wrap: wrap;
  }
  &__item{
    padding: 0 7px 14px;
    width: 50%;
    @media ($bp-larger-than-tablet) {
      width: 33%;
    }
    @media ($bp-larger-than-desktop) {
      width: 33%;
    }
    @media ($bp-larger-than-desktophd) {
      width: 192px;
    }
  }
  &__card{
    padding: 8px 4px;
    background: #fff;
    border-radius: 10px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: $anim5;
    border: 1px solid #fff;
    max-width: 161px;
    margin-left: auto;
    margin-right: auto;
    @media ($bp-larger-than-phablet) {
      width: 100%;
      max-width: none;
    }
    &:hover{
      border: 1px solid $red;
    }
    img{
      max-width: 100%;
    }
  }
}

.mobile-menu{
  position: absolute;
  z-index: 100;
  background-color: #0088CC;
  transform: translateY(-100%);
  top: 50px;
  left: 0;
  right: 0;
  transition: $cubic;
  @media ($bp-larger-than-phablet) {
    top: 86px;
    //left: 15px;
    //right: 15px;
  }
  &__grid{
    padding: 21px 25px 35px;
    max-width: 327px;
    margin-left: auto;
    margin-right: auto;
  }
  &__item{
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transition: $anim5;
    transition-delay: 0.5s;
    +.mobile-menu__item{
      margin-top: 9px;
    }
    a{
      display: flex;
      height: 35px;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      color: #fff;
      background-color: #0088CC;
      transition: $cubic;
      &:hover{
        text-decoration: none;
        background: $red;
      }
    }
    &--parent{
      &.open{
        .mobile-menu__arrow:before{
          top: 3px;
          left: 0;
          transform: rotate(-135deg);
        }
      }
    }
  }
  &__arrow{
    position: relative;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 9px;
    flex-shrink: 0;
    &:before{
      content: "";
      display: inline-block;
      width: 9px;
      height: 9px;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      position: absolute;
      top: -3px;
      left: 0;
      //transition: $cubic02;
      transform: rotate(45deg);
      transform-origin: 50% 50%;
    }
  }
  &__childs{
    display: none;
  }
  &__child{
    border-top: 1px solid #0088CC;
    a{
      display: flex;
      height: 35px;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      color: #0088CC;
      background-color: #fff;
      transition: $cubic;
      &:hover{
        text-decoration: none;
        background: $red;
        color: #fff;
      }
    }
  }
}

body.show-slide-menu{
  .mobile-menu{
    transform: translateY(0);
  }
  .mobile-menu__item{
    opacity: 1;
  }
}

.goto-top{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: #0088CC;
  text-align: center;
  font-size: 0;
  position: fixed;
  bottom: 152px;
  right: 30px;
  visibility: hidden;
  opacity: 0;
  padding-top: 14px;
  transition: $cubic;
  @media ($bp-larger-than-desktopfullhd) {
    right: 206px;
    bottom: 152px;
  }
  &--visible{
    visibility: hidden;
    opacity: 0;
    @media ($bp-larger-than-phablet) {
      visibility: visible;
      opacity: 1;
    }
  }
  &:hover{
    background-color: $red;
  }
}

.mse2-ac-item{
  font-family: Montserrat;
  &__grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__image{
    width: 50px;
    flex-shrink: 0;
    display: none;
    @media ($bp-larger-than-tablet) {
      display: block;
    }
    img{
      width: 100%;
    }
  }
  &__pagetitle{
    width: 100%;
    font-size: 12px;
    padding: 0 0 15px 0;
    @media ($bp-larger-than-tablet) {
      padding: 0 25px;
      font-size: 14px;
    }
  }
  &__price{
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
    @media ($bp-larger-than-tablet) {
      font-size: 14px;
    }
  }
}
.ui-menu-divider{
  + .ui-menu-divider{
    display: none;
  }
}
.ui-widget.ui-widget-content{
  visibility: hidden;
  border: 0 none !important;
  @media ($bp-larger-than-tablet) {
    visibility: visible;
  }
}