.textblock{
  margin-bottom: 14px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  @media ($bp-larger-than-tablet) {
    margin-bottom: 30px;
  }
  p{
    font-size: 12px;
    line-height: 25px;
    text-align: justify;
    color: #000000;
    @media ($bp-larger-than-tablet) {
      font-size: 14px;
    }
  }
}

.advantages{

  &__body{
    background: #0088CC;
    border-radius: 10px;
    padding: 25px 15px 11px 15px;
    @media ($bp-larger-than-phablet) {
      padding: 15px;
    }
    @media ($bp-larger-than-tablet) {
      padding: 15px 20px 43px;
    }
  }
  &__header{
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 20px;
    @media ($bp-larger-than-tablet) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 45px;
    }
  }
  &__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media ($bp-larger-than-desktop) {
      flex-direction: row;
    }
  }
  &__item{
    color: #0088CC;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    width: 263px;
    margin-left: auto;
    margin-right: auto;
    @media ($bp-larger-than-phablet) {

    }
    @media ($bp-larger-than-tablet) {
      width: auto;
      margin-left: 0;
      margin-right: 0;

    }
    @media ($bp-larger-than-desktop) {
      font-size: 18px;
      line-height: 18px;
    }

    &:last-child{
      .advantages__card:after{
        display: none;
      }
    }
  }
  &__card{
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-width: 200px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 16px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media ($bp-larger-than-desktop) {
      padding-right: 25px;
      height: auto;
      background: #0088CC;
      border-radius: 0;
      color: #FFFFFF;
      margin-bottom: 0;
    }
    @media ($bp-larger-than-desktophd) {
      min-width: 265px;
    }
    &:after{
      content: "";
      display: none;
      width: 15px;
      height: 15px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      position: absolute;
      right: 0;
      top: 11px;
      transform: rotate(-45deg);
      @media ($bp-larger-than-desktop) {
        display: inline-block;
      }
    }
  }
}