<div class="actions">
    <div class="container">
        <div class="actions__body">
            <div class="section-header section-header--white">Наши акции</div>
            <div class="action-slider owl-carousel">
                <div class="action-slider__item">
                    <a href="#" class="action-slider__card">
                        <div class="action-slider__image">
                            <img src="/assets/template/images/action-1.png" alt="" />
                        </div>
                        <div class="action-slider__header">
                            Скидка пенсионерам 10%
                        </div>
                    </a>
                </div>
                <div class="action-slider__item">
                    <a href="#" class="action-slider__card">
                        <div class="action-slider__image">
                            <img src="/assets/template/images/action-2.png" alt="" />
                        </div>
                        <div class="action-slider__header">
                            Вывоз ванн БЕСПЛАТНО
                        </div>
                    </a>
                </div>
                <div class="action-slider__item">
                    <a href="#" class="action-slider__card">
                        <div class="action-slider__image">
                            <img src="/assets/template/images/action-2.png" alt="" />
                        </div>
                        <div class="action-slider__header">
                            Вывоз ванн БЕСПЛАТНО
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>