<div class="article-card">
    <div class="article-card__image" style="background-image: url('/assets/template/images/products/holod-1.jpg')">
    </div>
    <div class="article-card__info">
        <div class="article-card__name">Холодильники LG: плюсы и минусы </div>
        <div class="article-card__intro">Эта статья будет полезна тем, кто хочет купить б/у стиральную машину и не знает, на что обращать внимание.</div>
        <div class="article-card__link">
            <a href="" class="btn-o">Подробнее</a>
        </div>
    </div>
</div>