<div class="auto-card">
    <div class="auto-card__name">
        Мини фургон (каблук)
    </div>
    <div class="auto-card__image">
        <img src="/assets/template/images/auto-1.jpg" alt="" />
    </div>
    <div class="auto-card__params">
        <div class="param">
            <div class="param__name">Длина</div>
            <div class="param__sep"></div>
            <div class="param__value">4.7 м</div>
        </div>
        <div class="param">
            <div class="param__name">Ширина</div>
            <div class="param__sep"></div>
            <div class="param__value">2.4 м</div>
        </div>
        <div class="param">
            <div class="param__name">Высота</div>
            <div class="param__sep"></div>
            <div class="param__value">2.2 м</div>
        </div>
        <div class="param">
            <div class="param__name">Грузоподъемность</div>
            <div class="param__sep"></div>
            <div class="param__value">до 500 кг</div>
        </div>
        <div class="param">
            <div class="param__name">Объем</div>
            <div class="param__sep"></div>
            <div class="param__value">до 1.7 м3</div>
        </div>
    </div>
    <div class="auto-card__button">
        <a href="#" class="btn btn-o">Заказать</a>
    </div>
</div>