<div class="footer">
    <div class="container phablet-container">
        <div class="footer__grid footer__grid--desktop">
            <div class="footer__logo">
                <img src="/assets/template/images/logo-dark.png" alt="">
            </div>
            <div class="footer__slogan">
                Вывоз мусора<br />
                в Санкт-Петербурге<br />
                и Ленинградской области
            </div>
            <div class="footer__phones">
                <div class="footer-phone">
                    <a href="tel:8 (812) 920-38-54">8 (812) 920-38-54</a>
                </div>
                <div class="footer-worktime">с 8.00 до 22.30</div>
            </div>
            <div class="footer__emails">
                <div class="footer-email">
                    <a href="mailto:zakaz@hlamknam.ru">zakaz@hlamknam.ru</a>
                </div>
                <div class="footer-email__hint">круглосуточно</div>
            </div>
            <div class="footer__menu">
                <ul class="footer-nav">
                    <li><a href="#">Вывоз мусора</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Автопарк</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Купить б/у бытовую технику</a></li>
                </ul>
            </div>
        </div>
        <div class="phablet-container__inside">
            <div class="footer__grid footer__grid--mobile">
                <div class="footer__logo">
                    <img src="/assets/template/images/logo-dark.png" alt="">
                </div>
                <div class="footer__contacts">
                    <div class="footer-phone">
                        <a href="tel:8 (812) 920-38-54">8 (812) 920-38-54</a>
                    </div>
                    <div class="footer-email">
                        <a href="mailto:zakaz@hlamknam.ru">zakaz@hlamknam.ru</a>
                    </div>
                </div>
                <div class="footer__worktimes">
                    <div class="footer-worktime">с 8.00 до 22.30</div>
                    <div class="footer-email__hint">круглосуточно</div>
                </div>
            </div>
        </div>
        <div class="phablet-container__inside footer-menu__box">
            <div class="footer-menu">
                <ul class="footer-menu__left">
                    <li><a href="#">Вывоз мусора</a></li>
                    <li><a href="#">Бесплатный вывоз</a></li>
                    <li><a href="#">Грузоперевозки</a></li>
                    <li><a href="#">Дополнительные услуги</a></li>
                    <li><a href="#">Стоимость услуг</a></li>
                </ul>
                <ul class="footer-menu__right">
                    <li><a href="#">Автопарк</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Купить б/у бытовую технику</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="bottom-line">
    <div class="container phablet-container">
        <div class="bottom-line__grid">
            <div class="bottom-line__left">
                <ul class="bottom-line__nav">
                    <li>Все права защищены 2010 - 2020</li>
                    <li><a href="#">Карта сайта</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                </ul>
            </div>
            <div class="bottom-line__right">
                <div class="bottom-line__dev">
                    Разработка сайта: <a href="#">Creative-Lab</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-line-mobile">
    <div class="container">
        <div class="bottom-line-mobile__left">
            Все права защищены 2010 - 2020
            <ul class="bottom-line-mobile__nav">
                <li><a href="#">Политика конфиденциальности</a></li>
                <li><a href="#">Карта сайта</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="bottom-line-mobile bottom-line-mobile--gray">
    <div class="container">
        <div class="bottom-line-mobile__right">
            <div class="bottom-line-mobile__dev">
                Разработка сайта: <a href="#">Creative-Lab</a>
            </div>
        </div>
    </div>
</div>

<div style="display: none">

    <div id="callback" class="popup-form">
        <div class="section-header">Обратный звонок</div>
        <div class="popup-form__item">
            <input type="text" name="name" placeholder="Имя*">
        </div>
        <div class="popup-form__item">
            <input type="text" name="phone" placeholder="Телефон*" data-mask="+7 (999) 999-99-99">
        </div>
        <div class="popup-form__item">
            <select name="service" class="styler-popup-form" placeholder="Время звонка">
                <option>с 10:00 до 12:00</option>
                <option>с 12:00 до 16:00</option>
                <option>с 16:00 до 21:00</option>
            </select>
        </div>
        <div class="popup-form__item">
            <button class="btn btn-o">Заказать звонок</button>
        </div>
        <div class="popup-form__police">
            Нажимая на кнопку, вы даете согласие на обработку персональных данных в
            соответствии с <a href="#">Политикой Конфиденциальности</a>
        </div>
    </div>

    <div id="order" class="popup-form">
        <div class="section-header">
            Заказать
            <div class="section-header__subheader">
                квартирный переезд
            </div>
        </div>
        <div class="popup-form__item">
            <input type="text" name="name" placeholder="Имя*">
        </div>
        <div class="popup-form__item">
            <input type="text" name="phone" placeholder="Телефон*" data-mask="+7 (999) 999-99-99">
        </div>
        <div class="popup-form__item">
            <button class="btn btn-o">Заказать</button>
        </div>
        <div class="popup-form__police">
            Нажимая на кнопку, вы даете согласие на обработку персональных данных в
            соответствии с <a href="#">Политикой Конфиденциальности</a>
        </div>
    </div>

    <div id="success" class="popup-form">
        <div class="section-header">
            Ваша заявка принята
        </div>
        <div class="popup-form__item">
            <div class="success-text">
                Наш специалист свяжется с вами в течение 5 минут (в рабочее время)
                для бесплатной консультации.
            </div>
        </div>
    </div>

    <div id="quiz" class="quiz-panel popup-form" data-quiz-step="1">
        <div class="section-header">Скидка 5 % на вывоз мусора</div>
        <div class="quiz-panel__text">
            Чтобы получить скидку, ответьте на несколько простых вопросов и введите свои контактные данные.
        </div>
        <div class="quiz-panel__nav">
            <a href="#" data-quiz-index="1"></a>
            <a href="#" data-quiz-index="2"></a>
            <a href="#" data-quiz-index="3"></a>
            <a href="#" data-quiz-index="4"></a>
            <a href="#" data-quiz-index="5"></a>
        </div>
        <form action="">
            <div class="quiz-panel__tabs">
                <div class="quiz-panel__tab active" data-quiz-tab="1">
                    <div class="quiz-panel__question">
                        Какой объем мусора требуется вывезти?
                    </div>
                    <div class="quiz-panel__answers">
                        <div class="quiz-panel__input">
                            <label><input type="checkbox" class="checkbox-styler" /> До 10 м3</label>
                        </div>
                        <div class="quiz-panel__input">
                            <label><input type="checkbox" class="checkbox-styler" /> Больше 10 м3</label>
                        </div>
                        <div class="quiz-panel__input">
                            <label><input type="checkbox" class="checkbox-styler" /> Не могу точно сказать</label>
                        </div>
                    </div>
                </div>
                <div class="quiz-panel__tab" data-quiz-tab="2">
                    <div class="quiz-panel__question">
                        Второй вопрос
                    </div>
                    <div class="quiz-panel__answers">
                        <div class="quiz-panel__input">
                            <label><input type="checkbox" class="checkbox-styler" /> 1111</label>
                        </div>
                        <div class="quiz-panel__input">
                            <label><input type="checkbox" class="checkbox-styler" /> 22222</label>
                        </div>
                        <div class="quiz-panel__input">
                            <label><input type="checkbox" class="checkbox-styler" /> 3333</label>
                        </div>
                    </div>
                </div>
                <div class="quiz-panel__tab" data-quiz-tab="3">
                    <div class="quiz-panel__question">
                        Третий вопрос
                    </div>
                    <div class="quiz-panel__answers">
                        <div class="quiz-panel__input">
                            <label><input type="checkbox" class="checkbox-styler" /> Ответ 1 на третий</label>
                        </div>
                        <div class="quiz-panel__input">
                            <label><input type="checkbox" class="checkbox-styler" /> Ответ 2 на третий</label>
                        </div>
                        <div class="quiz-panel__input">
                            <label><input type="checkbox" class="checkbox-styler" /> Ответ 3 на третий</label>
                        </div>
                    </div>
                </div>
                <div class="quiz-panel__tab" data-quiz-tab="4">
                    <div class="quiz-panel__question">
                        Какой объем мусора требуется вывезти?
                    </div>
                    <div class="quiz-panel__answers">
                        <div class="quiz-panel__input">
                            <label><input type="checkbox" class="checkbox-styler" /> До 10 м3</label>
                        </div>
                        <div class="quiz-panel__input">
                            <label><input type="checkbox" class="checkbox-styler" /> Больше 10 м3</label>
                        </div>
                        <div class="quiz-panel__input">
                            <label><input type="checkbox" class="checkbox-styler" /> Не могу точно сказать</label>
                        </div>
                    </div>
                </div>
                <div class="quiz-panel__tab" data-quiz-tab="5">
                    <div class="popup-form__item">
                        <input type="text" name="name" placeholder="Имя*">
                    </div>
                    <div class="popup-form__item">
                        <input type="text" name="phone" placeholder="Телефон*" data-mask="+7 (999) 999-99-99">
                    </div>
                    <div class="popup-form__item">
                        <select name="service" class="styler-popup-form" placeholder="Время звонка">
                            <option>с 10:00 до 12:00</option>
                            <option>с 12:00 до 16:00</option>
                            <option>с 16:00 до 21:00</option>
                        </select>
                    </div>
                    <div class="popup-form__item popup-form__button">
                        <button class="btn btn-o">Заказать со скидкой</button>
                    </div>
                    <div class="popup-form__police">
                        Нажимая на кнопку, вы даете согласие на обработку персональных данных в
                        соответствии с <a href="#">Политикой Конфиденциальности</a>
                    </div>
                </div>
            </div>
        </form>
        <div class="quiz-panel__controls">
            <a href="#" class="btn btn-o" data-quiz-nav="prev">Назад</a>
            <a href="#" class="btn btn-o" data-quiz-nav="next">Вперед</a>
        </div>
    </div>

</div>

<!-- @if NODE_ENV='development' -->
<link rel="stylesheet" href="/assets/template/vendor/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/assets/template/vendor/slick/slick-theme.css"/>
<link rel="stylesheet" href="/assets/template/vendor/fancybox/jquery.fancybox.min.css" />
<link href="/assets/template/vendor/formstyler/jquery.formstyler.css" rel="stylesheet" />
<link href="/assets/template/vendor/formstyler/jquery.formstyler.theme.css" rel="stylesheet" />
<!-- @endif -->
<!-- @if NODE_ENV='development' -->
<script src="/assets/template/vendor/jquery-3.2.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/template/vendor/formstyler/jquery.formstyler.min.js"></script>

<script src="/assets/template/vendor/jquery.inputmask.bundle.js"></script>
<script src="/assets/template/vendor/owlcarousel/owl.carousel.js"></script>
<script src="assets/template/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="/assets/template/js/scripts.js"></script>
<script src="https://icomoon.io/svgxuse-demo/bower_components/svgxuse/svgxuse.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV='production' -->
<script src="/assets/template/js/all.js?v=2"></script>
<!-- @endif -->
</body>
</html>