<div class="main-slider">
    <div class="main-slider__box owl-carousel main-slider-js">
        <div class="main-slider__item" style="background-image: url('/assets/template/images/slider/slide-1.jpg')">
            <div class="container main-slider__container">
                <div class="main-slider__info">
                    <div class="main-slider__text">
                        Вывоз строительного мусора: быстро, чисто, аккуратно
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider__item" style="background-image: url('/assets/template/images/slider/slide-2.jpg')">
            <div class="container main-slider__container">
                <div class="main-slider__info">
                    <div class="main-slider__text">
                        Квартирный переезд
                        с ХЛАМКНАМ
                        всегда быстрее и проще
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-slider-form">
        <div class="container">
            <div class="main-slider-form__grid">
                <div class="main-slider-form__panel">
                    <div class="section-header">Расчитать стоимость</div>
                    <div class="main-slider-form__item">
                        <input type="text" name="name" placeholder="Имя*">
                    </div>
                    <div class="main-slider-form__item">
                        <input type="text" name="phone" placeholder="Телефон*" data-mask="+7 (999) 999-99-99">
                    </div>
                    <div class="main-slider-form__item">
                        <input type="text" name="phone" placeholder="Адрес*">
                    </div>
                    <div class="main-slider-form__item">
                        <select name="service" class="styler">
                            <option value="Вывоз мусора">Вывоз мусора</option>
                            <option value="Квартирный переезд">Квартирный переезд</option>
                            <option value="Бесплатный вывоз мусора">Бесплатный вывоз мусора</option>
                        </select>
                    </div>
                    <div class="main-slider-form__button">
                        <button class="btn btn-o">Заказать звонок</button>
                    </div>
                    <div class="main-slider-form__police">
                        Нажимая на кнопку, вы даете согласие на обработку персональных данных в
                        соответствии с <a href="#">Политикой Конфиденциальности</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>