<a href="#" class="product-card">
    <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-2.png')"></div>
    <div class="product-card__info">
        <div class="product-card__name">Стиральная машина Bosch</div>
        <div class="product-card__prices">
            <div class="product-card__price">18 000</div>
            <div class="product-card__cur">руб</div>
            <div class="product-card__oldprice"></div>
            <div class="product-card__oldcur"></div>
        </div>
        <div class="product-card__actions">
            <div class="product-card__oneclick">
                <button href="#">Купить<br /> в 1 клик</button>
            </div>
            <div class="product-card__buy">
                <button href="#" class="btn">в корзину</button>
            </div>
        </div>
    </div>
</a>