<div class="why">
    <div class="container">
        <div class="why__box">
            <div class="section-header">
                Почему клиенты выбирают нас
            </div>
            <div class="why__grid">

                <div class="why__item">
                    <div class="why-card">
                        <div class="why-card__image">
                            <img src="/assets/template/images/why/delivery-man.svg" alt="" />
                        </div>
                        <div class="why-card__info">
                            <div class="why-card__name">
                                Русские рабочие
                            </div>
                            <div class="why-card__text">
                                Культурные и вежливые<br />
                                сотрудники
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why-card">
                        <div class="why-card__image">
                            <img src="/assets/template/images/why/lorry.svg" alt="" />
                        </div>
                        <div class="why-card__info">
                            <div class="why-card__name">
                                Свой автопарк
                            </div>
                            <div class="why-card__text">
                                12 грузовых авто разной
                                грузоподъемности
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why-card">
                        <div class="why-card__image">
                            <img src="/assets/template/images/why/piggy-bank.svg" alt="" />
                        </div>
                        <div class="why-card__info">
                            <div class="why-card__name">
                                Доступные цены
                            </div>
                            <div class="why-card__text">
                                12 грузовых авто разной
                                грузоподъемности
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why-card">
                        <div class="why-card__image">
                            <img src="/assets/template/images/why/broom.svg" alt="" />
                        </div>
                        <div class="why-card__info">
                            <div class="why-card__name">
                                Делаем уборку
                            </div>
                            <div class="why-card__text">
                                12 грузовых авто разной
                                грузоподъемности
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why-card">
                        <div class="why-card__image">
                            <img src="/assets/template/images/why/receipt.svg" alt="" />
                        </div>
                        <div class="why-card__info">
                            <div class="why-card__name">
                                Квитанция об утилизации
                            </div>
                            <div class="why-card__text">
                                12 грузовых авто разной
                                грузоподъемности
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why-card">
                        <div class="why-card__image">
                            <img src="/assets/template/images/why/credit-card.svg" alt="" />
                        </div>
                        <div class="why-card__info">
                            <div class="why-card__name">
                                Безналичная оплата
                            </div>
                            <div class="why-card__text">
                                12 грузовых авто разной
                                грузоподъемности
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>