//= include/header.html


<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="/menu.html">Главная страница</a></li>
                <li><a href="#">Полезное</a></li>
                <li><span>Как выбрать б/у стиральную машину?</span></li>
            </ul>
        </div>
    </div>
</div>


<div class="article">
    <div class="container">
        <div class="article__body stext">
            <h1>Как выбрать б/у стиральную машину?</h1>
            <p>Сегодня люди не представляют свою жизнь без современных технологий, в частности, без компьютера.Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент развития человека. Каждая большая и малая промышленность компьютеризирована. Компьютеры выполнять свою работу эффективно, быстро и продуктивно. Без сомнений, они сделали нашу жизнь намного легче.</p>
            <p><img src="/assets/template/images/article.png" alt=""></p>
            <p>Сегодня люди не представляют свою жизнь без современных технологий, в частности, без компьютера.Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент развития человека. Каждая большая и малая промышленность компьютеризирована. Компьютеры выполнять свою работу эффективно, быстро и продуктивно. Без сомнений, они сделали нашу жизнь намного легче.Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека.
                Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем, такие как головная боль, заболевания кисти, боли в спине, плохое зрение. Кроме того, проводя много времени за компьютером, начинаем чрезмерно питаться, что в свою очередь приводит к ожирению.Маленькие дети больше всего подвержены риску.
                Сейчас они часто остаются без присмотра. Поэтому они много времени проводят за монитором компьютера, играют в компьютерные игры, смотрят видео или просто сидят в Интернете.</p>
            <ul>
                <li>Сегодня люди не представляют свою жизнь без современных технологий.</li>
                <li>Компьютер стал неотъемлемой частью жизни человека.</li>
                <li>Это обязательный инструмент развития человека.</li>
                <li>Каждая большая и малая промышленность компьютеризирована.</li>
                <li>Компьютеры выполнять свою работу эффективно, быстро и продуктивно.</li>
                <li>Без сомнений, они сделали нашу жизнь намного легче.</li>
                <li>Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека.</li>
            </ul>
            <p>Сегодня люди не представляют свою жизнь без современных технологий, в частности, без компьютера. Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент развития человека. Каждая большая и малая промышленность компьютеризирована. </p>
            <ol>
                <li>Сегодня люди не представляют свою жизнь без современных технологий.</li>
                <li>Компьютер стал неотъемлемой частью жизни человека.</li>
                <li>Это обязательный инструмент развития человека.</li>
                <li>Каждая большая и малая промышленность компьютеризирована.</li>
                <li>Компьютеры выполнять свою работу эффективно, быстро и продуктивно.</li>
                <li>Без сомнений, они сделали нашу жизнь намного легче.</li>
            </ol>
            <p>Сегодня люди не представляют свою жизнь без современных технологий, в частности, без компьютера.Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент развития человека. Каждая большая и малая промышленность компьютеризирована. Компьютеры выполнять свою работу эффективно, быстро и продуктивно. Без сомнений, они сделали нашу жизнь намного легче.Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека.</p>
            <blockquote>
                Сегодня люди не представляют свою жизнь без современных технологий, в частности, без компьютера.Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент развития человека. Каждая большая и малая промышленность компьютеризирована.
            </blockquote>
            <p>Сегодня люди не представляют свою жизнь без современных технологий, в частности, без компьютера.Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент развития человека. Каждая большая и малая промышленность компьютеризирована. Компьютеры выполнять свою работу эффективно, быстро и продуктивно. Без сомнений, они сделали нашу жизнь намного легче.Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека.
            Сегодня люди не представляют свою жизнь без современных технологий, в частности, без компьютера.Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент развития человека. Каждая большая и малая промышленность компьютеризирована. Компьютеры выполнять свою работу эффективно, быстро и продуктивно. Без сомнений, они сделали нашу жизнь намного легче.Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека.</p>




        </div>
    </div>
</div>

<div class="related-articles">
    <div class="container">
        <div class="related-articles__body">
            <div class="related-articles__header">Вам могут быть полезны</div>
            <div class="related-articles__info"><a href="">Все полезные статьи</a></div>
            <div class="related-articles__grid owl-carousel related-articles-js">
                <div class="related-articles__item">
                    //= include/article-card-1.html
                </div>
                <div class="related-articles__item">
                    //= include/article-card-2.html
                </div>
                <div class="related-articles__item">
                    //= include/article-card-3.html
                </div>
                <div class="related-articles__item">
                    //= include/article-card-1.html
                </div>
                <div class="related-articles__item">
                    //= include/article-card-2.html
                </div>
                <div class="related-articles__item">
                    //= include/article-card-3.html
                </div>
                <div class="related-articles__item">
                    //= include/article-card-1.html
                </div>
            </div>
        </div>
    </div>
</div>

//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->