//= include/header.html
<div class="overlay-light"></div>

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="/menu.html">Главная страница</a></li>
                <li><span>Каталог</span></li>
            </ul>
        </div>
    </div>
</div>



<div class="catalog">
    <div class="container">
        <div class="catalog__body">
            <h1>Каталог товаров</h1>
            <div class="catalog-meta">
                <div class="catalog-sort">
                    Сортировать по
                    <select name="" id="" class="styler">
                        <option value="Популярности">популярности</option>
                        <option value="Возрастанию цены">возрастанию цены</option>
                        <option value="Убыванию цены">убыванию цены</option>
                    </select>
                </div>
                <div class="catalog-filter catalog-filter-button">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 3H2L10 12.46V19L14 21V12.46L22 3Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="catalog__box">
                <div class="catalog__items">



                    <div class="catalog__grid products--wrap rows" id="mse2_results">
                        <div class="catalog__item">
                            //= include/product-1.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-2.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-3.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-4.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-1.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-2.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-3.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-4.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-1.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-2.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-3.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-4.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-1.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-2.html
                        </div>
                        <div class="catalog__item">
                            //= include/product-3.html
                        </div>

                    </div>
                    <button class="btn catalog__more">Посмотреть еще</button>
                </div>
                <div class="catalog__sidebar">
                    <a href="#" class="sidebar-close"></a>
                    <div class="widget">
                        <div class="widget__header">Категория</div>
                        <div class="widget__body">
                            <ul>
                                <li><a href="#">Стиральные машины</a></li>
                                <li><a href="#">Плиты</a></li>
                                <li><a href="#">Холодильники</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget">
                        <div class="widget__header">Подбор по параметрам</div>
                        <div class="widget__body">
                            <div class="filter">
                                <div class="filter__group active">
                                    <div class="filter__caption">Бренд</div>
                                    <div class="filter__body">
                                        <div class="filter__search">
                                            <input type="text" placeholder="Название бренда">
                                        </div>
                                        <div class="filter__items">
                                            <div class="filter__item">
                                                <label class="check-custom" for="chech10">
                                                    <input class="checkbox" name="msoption|op_gsm_modem" type="checkbox" value="да (2 SIM)" id="chech10">
                                                    <span class="checkbox-custom"></span>
                                                    <span class="label">Bosch</span>
                                                </label>
                                            </div>
                                            <div class="filter__item">
                                                <label class="check-custom" for="chech11">
                                                    <input class="checkbox" name="msoption|op_gsm_modem" type="checkbox" value="да (2 SIM)" id="chech11">
                                                    <span class="checkbox-custom"></span>
                                                    <span class="label">Samsung</span>
                                                </label>
                                            </div>
                                            <div class="filter__item">
                                                <label class="check-custom" for="chech12">
                                                    <input class="checkbox" name="msoption|op_gsm_modem" type="checkbox" value="да (2 SIM)" id="chech12">
                                                    <span class="checkbox-custom"></span>
                                                    <span class="label">Philips</span>
                                                </label>
                                            </div>
                                            <div class="filter__item">
                                                <label class="check-custom" for="chech13">
                                                    <input class="checkbox" name="msoption|op_gsm_modem" type="checkbox" value="да (2 SIM)" id="chech13">
                                                    <span class="checkbox-custom"></span>
                                                    <span class="label">De Longi</span>
                                                </label>
                                            </div>
                                            <div class="filter__item">
                                                <label class="check-custom" for="chech14">
                                                    <input class="checkbox" name="msoption|op_gsm_modem" type="checkbox" value="да (2 SIM)" id="chech14">
                                                    <span class="checkbox-custom"></span>
                                                    <span class="label">LG</span>
                                                </label>
                                            </div>
                                            <div class="filter__item">
                                                <label class="check-custom" for="chech15">
                                                    <input class="checkbox" name="msoption|op_gsm_modem" type="checkbox" value="да (2 SIM)" id="chech15">
                                                    <span class="checkbox-custom"></span>
                                                    <span class="label">LG2</span>
                                                </label>
                                            </div>
                                            <div class="filter__item">
                                                <label class="check-custom" for="chech16">
                                                    <input class="checkbox" name="msoption|op_gsm_modem" type="checkbox" value="да (2 SIM)" id="chech16">
                                                    <span class="checkbox-custom"></span>
                                                    <span class="label">LG2</span>
                                                </label>
                                            </div>
                                            <div class="filter__item">
                                                <label class="check-custom" for="chech17">
                                                    <input class="checkbox" name="msoption|op_gsm_modem" type="checkbox" value="да (2 SIM)" id="chech17">
                                                    <span class="checkbox-custom"></span>
                                                    <span class="label">LG2</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter__group">
                                    <div class="filter__caption">Страна</div>
                                    <div class="filter__body">
                                        <div class="filter__item">
                                            <label class="check-custom" for="chech1">
                                                <input class="checkbox" name="msoption|op_gsm_modem" type="checkbox" value="1" id="chech1">
                                                <span class="checkbox-custom"></span>
                                                <span class="label">Германия</span>
                                            </label>
                                        </div>
                                        <div class="filter__item">
                                            <label class="check-custom" for="chech2">
                                                <input class="checkbox" name="msoption|op_gsm_modem" type="checkbox" value="1" id="chech2">
                                                <span class="checkbox-custom"></span>
                                                <span class="label">Италия</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter__group active">
                                    <div class="filter__caption">Цена</div>
                                    <div class="filter__body">

                                        <div class="mse2_number_inputs">
                                            <div class="col-md-6">
                                                <label for="mse2_ms|price_0" class="d-flex align-items-center">
                                                    <input type="text" name="ms|price" id="mse2_ms|price_0" value="113" data-current-value="0" class="form-control ml-1" data-original-value="113" data-decimal="0">
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="mse2_ms|price_1" class="d-flex align-items-center">
                                                    <input type="text" name="ms|price" id="mse2_ms|price_1" value="2700" data-current-value="0" class="form-control ml-1" data-original-value="2700" data-decimal="0">
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="catalog__text">
                <p>
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
                </p>
                <p>
                    Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку.
                </p>
            </div>

        </div>
    </div>
</div>


//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->