//= include/header.html

<div class="slider">
    <div class="container">
        <div class="slider__grid owl-carousel main-slider-js">
            <div class="slider__item" style="background-image: url('/assets/template/images/slider/slide-1.jpg')">
                <div class="slider__panel">
                    <div class="slider__header">
                        100% рабочая техника с гарантией 365 дней
                    </div>
                    <div class="slider__text">
                        с бесплатной доставкой по Санкт-Петербургу
                    </div>
                    <div class="slider__button">
                        <a href="#" class="btn">выбрать технику</a>
                    </div>
                </div>
            </div>
            <div class="slider__item" style="background-image: url('/assets/template/images/slider/slide-2.jpg')">
                <div class="slider__panel">
                    <div class="slider__header">
                        100% рабочая техника с гарантией 365 дней
                    </div>
                    <div class="slider__text">
                        с бесплатной доставкой по Санкт-Петербургу
                    </div>
                    <div class="slider__button">
                        <a href="#" class="btn">выбрать технику</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="categories">
    <div class="container">
        <div class="categories__header">Популярные категории</div>
        <div class="categories__grid">
            <div class="categories__item">
                <a href="#" class="category-card" style="background-image: url('/assets/template/images/category/cat-1.jpg')">
                    <div class="category-card__name">Стиральные машины</div>
                </a>
            </div>
            <div class="categories__item">
                <a href="#" class="category-card" style="background-image: url('/assets/template/images/category/cat-2.jpg')">
                    <div class="category-card__name">Плиты</div>
                </a>
            </div>
            <div class="categories__item">
                <a href="#" class="category-card" style="background-image: url('/assets/template/images/category/cat-3.jpg')">
                    <div class="category-card__name">Холодильники</div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="maintext">
    <div class="container">
        <div class="maintext__body">
            <h1>«СтиралкаХолод» – бытовая техника б/у по выгодным ценам в СПБ</h1>
            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.</p>
            <p>Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку.</p>
        </div>
    </div>
</div>

<div class="advantages">
    <div class="container">
        <div class="advantages__body">
            <div class="advantages__header">
                Заказывая у нас вы получите
            </div>
            <div class="advantages__box">
                <div class="advantages__item">
                    <div class="advantages__card">
                        Бесплатную доставку <br class="no-mobile"/> в пределах КАД
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__card">
                        Гарантию <br class="no-mobile"/> на 365 дней
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__card">
                        Выгодный обмен <br class="no-mobile"/> на вашу технику
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__card">
                        К каждой покупке <br class="no-mobile"/> подарок
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products">
    <div class="container">
        <div class="products__body">

            <div class="products__header">Стиральные машины</div>
            <div class="products__info"><a href="#">все стиральные машины</a></div>
            <div class="products__grid">
                <div class="products__item">

                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-1.jpg')">
                                <div class="flag flag-discount">-10%</div>
                            </div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18 000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice">18 950  <span class="product-card__oldcur">руб</span></div>

                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">Купить<br /> в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="products__item">
                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-2.png')"></div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18 000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice"></div>
                                <div class="product-card__oldcur"></div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">Купить<br /> в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products__item">
                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-3.jpg')"></div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice">18950</div>
                                <div class="product-card__oldcur">руб</div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">купить в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products__item">
                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-4.jpg')"></div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice">18950</div>
                                <div class="product-card__oldcur">руб</div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">купить в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products__body">
            <div class="products__header">Холодильники</div>
            <div class="products__info"><a href="#">все холодильники</a></div>
            <div class="products__grid">
                <div class="products__item">

                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/holod-1.jpg')">
                                <div class="flag flag-discount">-10%</div>
                            </div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18 000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice">18 950  <span class="product-card__oldcur">руб</span></div>

                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">Купить<br /> в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="products__item">
                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/holod-2.jpg')"></div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18 000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice"></div>
                                <div class="product-card__oldcur"></div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">Купить<br /> в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products__item">
                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/holod-3.jpg')"></div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice">18950</div>
                                <div class="product-card__oldcur">руб</div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">купить в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products__item">
                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/holod-4.jpg')"></div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice">18950</div>
                                <div class="product-card__oldcur">руб</div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">купить в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products__body">
            <div class="products__header">Электроплиты</div>
            <div class="products__info"><a href="#">все электроплиты</a></div>
            <div class="products__grid">
                <div class="products__item">

                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-5.jpg')">
                                <div class="flag flag-discount">-10%</div>
                            </div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18 000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice">18 950  <span class="product-card__oldcur">руб</span></div>

                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">Купить<br /> в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="products__item">
                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-6.jpg')"></div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18 000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice"></div>
                                <div class="product-card__oldcur"></div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">Купить<br /> в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products__item">
                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-7.jpg')"></div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice">18950</div>
                                <div class="product-card__oldcur">руб</div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">купить в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products__item">
                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-8.jpg')"></div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice">18950</div>
                                <div class="product-card__oldcur">руб</div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">купить в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="brands">
    <div class="container">
        <div class="brands__body">
            <div class="brands__header">У нас вы можете найти</div>
            <div class="brands__grid">
                <div class="brands__item">
                    <a href="#" class="brands__card">
                        <img src="/assets/template/images/brands/bosch.png" alt="">
                    </a>
                </div>
                <div class="brands__item">
                    <a href="#" class="brands__card">
                        <img src="/assets/template/images/brands/electrolux.png" alt="">
                    </a>
                </div>
                <div class="brands__item">
                    <a href="#" class="brands__card">
                        <img src="/assets/template/images/brands/indesit.png" alt="">
                    </a>
                </div>
                <div class="brands__item">
                    <a href="#" class="brands__card">
                        <img src="/assets/template/images/brands/ariston.png" alt="">
                    </a>
                </div>
                <div class="brands__item">
                    <a href="#" class="brands__card">
                        <img src="/assets/template/images/brands/lg.png" alt="">
                    </a>
                </div>
                <div class="brands__item">
                    <a href="#" class="brands__card">
                        <img src="/assets/template/images/brands/candy.png" alt="">
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="maintext">
    <div class="container">
        <div class="maintext__body">
            <h1>«СтиралкаХолод» – бытовая техника б/у по выгодным ценам в СПБ</h1>
            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.</p>
            <p>Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку.</p>
        </div>
    </div>
</div>

//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->