<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- @if NODE_ENV='development' -->
    <link rel="stylesheet" href="/assets/template/vendor/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/template/vendor/owlcarousel/owl.theme.default.css">
    <link rel="stylesheet" href="/assets/template/css/main.css">
    <!-- @endif -->

    <!-- @if NODE_ENV='production' -->
    <link rel="stylesheet" href="assets/template/css/app.min.css?v=2">
    <!-- @endif -->
</head>
<body class="">
<div class="fixed-header">
    <div class="topline">
        <div class="container">
            <div class="topline__grid">
                <ul class="topline-menu">
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Гарантии</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Полезное</a></li>
                </ul>
                <div class="topline__address">
                    Б.Сампсониевский, д.82,офис 1  с 9:00 до 18: 00 (пн-пт)
                </div>
                <div class="topline__email">
                    <a href="mailto:zakaz@sitename.ru">zakaz@sitename.ru</a>
                </div>
                <div class="topline__phone">
                    <a href="tel:8812999-99-99">8 (812) 999-99-99</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="header__grid">
                <div class="header__logo">
                    <a href="/">
                        <img src="/assets/template/images/logo.png" alt="" />
                    </a>
                </div>
                <div class="header__menu">
                    <ul class="menu-top">
                        <li><a href="#">Стиральные машины</a></li>
                        <li><a href="#">Плиты</a></li>
                        <li><a href="#">Холодильники</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="header__search">
                    <div class="search">
                        <form action="">
                            <input type="text" placeholder="Введите запрос">
                            <button>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17.5 17.5L13.875 13.875" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="header__cart">
                    <div id="msMiniCart" class="cart-top">
                        <a href="#">
                            <div class="count">2</div>
                            <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7.5 18.333a.833.833 0 100-1.666.833.833 0 000 1.666zM16.667 18.333a.833.833 0 100-1.666.833.833 0 000 1.666zM.833.833h3.334L6.4 11.992a1.666 1.666 0 001.667 1.341h8.1a1.666 1.666 0 001.666-1.341L19.167 5H5"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h20v20H0z"/></clipPath></defs></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="slider">
    <div class="container">
        <div class="slider__grid owl-carousel main-slider-js">
            <div class="slider__item" style="background-image: url('/assets/template/images/slider/slide-1.jpg')">
                <div class="slider__panel">
                    <div class="slider__header">
                        100% рабочая техника с гарантией 365 дней
                    </div>
                    <div class="slider__text">
                        с бесплатной доставкой по Санкт-Петербургу
                    </div>
                    <div class="slider__button">
                        <a href="#" class="btn">выбрать технику</a>
                    </div>
                </div>
            </div>
            <div class="slider__item" style="background-image: url('/assets/template/images/slider/slide-2.jpg')">
                <div class="slider__panel">
                    <div class="slider__header">
                        100% рабочая техника с гарантией 365 дней
                    </div>
                    <div class="slider__text">
                        с бесплатной доставкой по Санкт-Петербургу
                    </div>
                    <div class="slider__button">
                        <a href="#" class="btn">выбрать технику</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="categories">
    <div class="container">
        <div class="categories__header">Популярные категории</div>
        <div class="categories__grid">
            <div class="categories__item">
                <a href="#" class="category-card" style="background-image: url('/assets/template/images/category/cat-1.jpg')">
                    <div class="category-card__name">Стиральные машины</div>
                </a>
            </div>
            <div class="categories__item">
                <a href="#" class="category-card" style="background-image: url('/assets/template/images/category/cat-2.jpg')">
                    <div class="category-card__name">Плиты</div>
                </a>
            </div>
            <div class="categories__item">
                <a href="#" class="category-card" style="background-image: url('/assets/template/images/category/cat-3.jpg')">
                    <div class="category-card__name">Холодильники</div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- @if NODE_ENV='development' -->
<link rel="stylesheet" href="/assets/template/vendor/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/assets/template/vendor/slick/slick-theme.css"/>
<link rel="stylesheet" href="/assets/template/vendor/fancybox/jquery.fancybox.min.css" />
<link href="/assets/template/vendor/formstyler/jquery.formstyler.css" rel="stylesheet" />
<link href="/assets/template/vendor/formstyler/jquery.formstyler.theme.css" rel="stylesheet" />
<!-- @endif -->
<!-- @if NODE_ENV='development' -->
<script src="/assets/template/vendor/jquery-3.2.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/template/vendor/formstyler/jquery.formstyler.min.js"></script>

<script src="/assets/template/vendor/jquery.inputmask.bundle.js"></script>
<script src="/assets/template/vendor/owlcarousel/owl.carousel.js"></script>
<script src="assets/template/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="/assets/template/js/scripts.js"></script>
<script src="https://icomoon.io/svgxuse-demo/bower_components/svgxuse/svgxuse.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV='production' -->
<script src="/assets/template/js/all.js?v=2"></script>
<!-- @endif -->
</body>
</html>

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->