//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="/menu.html">Главная страница</a></li>
                <li><span>Оглавление</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="textpage">
    <div class="container">
        <div class="textpage__body stext fix-height">
            <h1>Оглавление</h1>
            <h2>Верстка страниц</h2>
            <ul>
                <li><a href="/index.html">Главная страница</a></li>
                <li><a href="/catalog.html">Каталог</a></li>
                <li><a href="/product.html">Карточка товара</a> всплывающее окно</li>
                <li><a href="/cart.html">Корзина</a></li>
                <li><a href="/contacts.html">Контакты</a></li>
                <li><a href="/articles.html">Каталог статей</a></li>
                <li><a href="/article.html">Карточка статьи</a></li>
                <li><a href="/company.html">О компании</a> !!! преимущества поправить, проверить адаптив</li>
                <li><a href="/text.html">Текстовая страница (доставка, ПК и т.д.</a></li>
                <li><a href="/search.html">Результаты поиска</a></li>
                <li><a href="/404.html">404</a></li>
                <li><a href="/services.html">Услуги</a></li>
            </ul>
            <h2>Всплывающие окна</h2>
            <ul>
                <li><a href="#thankyou" data-fancybox="">Спасибо за Ваш заказ</a></li>
                <li><a href="#oneclick" data-fancybox="">Купить в 1 клик</a></li>
                <li><a href="#addproduct" data-fancybox="">Товар добавлен в корзину</a></li>
            </ul>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>


<div style="display: none;">
    <div id="thankyou" class="thankyou-popup">
        <div class="thankyou-popup__header">
            Спасибо за Ваш заказ!
        </div>
        <div class="thankyou-popup__body">
            Наш менеджер свяжется с вами в течение <nobr>30 минут</nobr> в рабочее время.<br />
            Мы работаем с понедельника по пятницу с 09.00 до 18.00.
        </div>
    </div>

    <div id="addproduct" class="addproduct-popup">
        <div class="addproduct-popup__text">
            <div class="addproduct-popup__name">Стиральная машина Bosch Serie 2</div>
            успешно добавлен(а) в корзину
        </div>
        <div class="addproduct-popup__actions">
            <a href="" class="btn-o" data-fancybox-close="">Продолжить покупки</a>
            <a href="/cart.html" class="btn">Оформить заказ</a>
        </div>
    </div>

    <div id="oneclick" class="oneclick-popup">
        <div class="oneclick-popup__header">Купить в 1 клик</div>
        <div class="oneclick-popup__body">
            <div class="oneclick-popup__name">Стиральная машина Bosch Serie 2</div>
            <div class="oneclick-popup__grid">
                <div class="oneclick-popup__left">
                    <div class="oneclick-popup__image" style="background-image: url('/assets/template/images/products/product-2.png')">

                    </div>
                    <div class="oneclick-popup__info">
                        Чтобы оформить заказ, заполните форму. В течение 30 минут (в рабочее время) с вами
                        свяжется менеджер и уточнит детали заказа, а также время доставки.
                    </div>
                </div>
                <div class="oneclick-popup__right">
                    <div class="oneclick-form">
                        <form action="">
                            <div class="oneclick-form__item">
                                <div class="oneclick-form__label">Имя*</div>
                                <div class="oneclick-form__input">
                                    <input type="text" name="name" placeholder="">
                                </div>
                            </div>
                            <div class="oneclick-form__item">
                                <div class="oneclick-form__label">Телефон*</div>
                                <div class="oneclick-form__input">
                                    <input type="text" name="phone" placeholder="" data-mask="+7 (999) 999-99-99">
                                </div>
                            </div>
                            <div class="oneclick-form__item">
                                <div class="oneclick-form__label">Email</div>
                                <div class="oneclick-form__input">
                                    <input type="text" name="email" placeholder="">
                                </div>
                            </div>
                            <div class="oneclick-form__item oneclick-form__item--address">
                                <div class="oneclick-form__label">Адрес доставки <span class="oneclick-form__hint">(при необходимости)</span></div>
                                <div class="oneclick-form__input">
                                    <input type="text" name="street" placeholder="">
                                </div>
                            </div>
                            <div class="oneclick-form__button">
                                <button class="btn">Купить</button>
                            </div>
                            <div class="oneclick-form__privacy">
                                Нажимая на кнопку, Вы даете согласие на обработку персональных данных и соглашаюсь
                                с <a href="">Политикой конфиденциальности</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="oneclick-form__privacy-mobile">
                Нажимая на кнопку, Вы даете согласие на обработку персональных данных и соглашаюсь
                с <a href="">Политикой конфиденциальности</a>
            </div>

        </div>
    </div>

</div>


//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->