//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="/menu.html">Главная страница</a></li>
                <li><a href="/catalog.html">Каталог</a></li>
                <li><span>Стиральная машина Bosch</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="page-header">
    <div class="container">
        <h1>Стиральная машина Bosch</h1>
    </div>
</div>

<div class="product">
    <div class="container">
        <div class="product__body">
            <div class="product__grid">
                <div class="product__image">
                    <div class="product-gallery">
                        <div class="product-gallery__item" style="background-image: url('/assets/template/images/products/product-3.jpg')">

                        </div>
                    </div>
                </div>
                <div class="product__info">
                    <div class="product__discount">
                        <div class="flag flag-discount">-10%</div>
                    </div>
                    <div class="product-params">
                        <div class="product-params__header">
                            Характеристики
                        </div>
                        <div class="product-params__grid">
                            <div class="param">
                                <div class="param__name">Страна:</div>
                                <div class="param__sep"></div>
                                <div class="param__value">Италия</div>
                            </div>
                            <div class="param">
                                <div class="param__name">Вес:</div>
                                <div class="param__sep"></div>
                                <div class="param__value">10кг</div>
                            </div>
                            <div class="param">
                                <div class="param__name">Ширина:</div>
                                <div class="param__sep"></div>
                                <div class="param__value">360мм</div>
                            </div>
                            <div class="param">
                                <div class="param__name">Высота:</div>
                                <div class="param__sep"></div>
                                <div class="param__value">300мм</div>
                            </div>
                            <div class="param">
                                <div class="param__name">Глубина:</div>
                                <div class="param__sep"></div>
                                <div class="param__value">290мм</div>
                            </div>
                            <div class="param">
                                <div class="param__name">Напряжение:</div>
                                <div class="param__sep"></div>
                                <div class="param__value">220В</div>
                            </div>

                        </div>
                        <div class="product-params__all">
                            <a href="#">все характеристики</a>
                            <a href="" class="product-brand--mobile">Все товары бренда</a>
                        </div>
                    </div>
                    <div class="product-brand">
                        <div class="product-brand__all"><a href="">Все товары бренда</a></div>
                        <div class="product-brand__image">
                            <a href="#" class="product-brand__card">
                                <img src="/assets/template/images/brands/bosch.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product__actions">
                    <div class="product-panel">
                        <div class="product-panel__prices">
                            <span class="product-panel__price">18 000</span>
                            <span class="product-panel__cur">руб</span>
                            <span class="product-panel__oldprice">18 950 руб</span>
                            <div class="flag flag-discount">-10%</div>
                        </div>
                        <div class="product-panel__body">
                            <div class="product-panel__warranty">
                                Гарантия 12 месяцев
                            </div>
                            <div class="product-panel__buy">
                                <a href="#">В корзину</a>
                            </div>
                            <div class="product-panel__oneclick">
                                <a href="#">Купить в 1 клик</a>
                            </div>
                            <div class="product-delivery">
                                <div class="product-delivery__name">Доставка и оплата</div>
                                <div class="product-delivery__text">
                                    Доставка по СПб - бесплатно<br />
                                    Доставка  в пригород (до 30 км от<br />
                                    КАД) - от 300 руб<br />
                                    Оплата: наличными при получении<br /> или банковской картой
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="products-interes">
    <div class="container">
        <div class="products-interes__body">
            <div class="products-interes__header">Вас также могут заинтересовать</div>
            <div class="products-interes__grid">
                <div class="products-interes__item">

                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-1.jpg')">
                                <div class="flag flag-discount">-10%</div>
                            </div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18 000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice">18 950  <span class="product-card__oldcur">руб</span></div>

                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">Купить<br /> в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="products-interes__item">
                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-2.png')"></div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18 000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice"></div>
                                <div class="product-card__oldcur"></div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">Купить<br /> в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products-interes__item">
                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-3.jpg')"></div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice">18950</div>
                                <div class="product-card__oldcur">руб</div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">купить в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products-interes__item">
                    <div class="product-card">
                        <a href="#">
                            <div class="product-card__image" style="background-image: url('/assets/template/images/products/product-4.jpg')"></div>
                        </a>
                        <div class="product-card__info">
                            <div class="product-card__name"><a href="#">Стиральная машина Bosch</a></div>
                            <div class="product-card__prices">
                                <div class="product-card__price">18000</div>
                                <div class="product-card__cur">руб</div>
                                <div class="product-card__oldprice">18950</div>
                                <div class="product-card__oldcur">руб</div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__oneclick">
                                    <a href="#">купить в 1 клик</a>
                                </div>
                                <div class="product-card__buy">
                                    <a href="#" class="btn">в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="advantages product-advantages">
    <div class="container">
        <div class="advantages__body">
            <div class="advantages__header">
                Заказывая у нас вы получите
            </div>
            <div class="advantages__box">
                <div class="advantages__item">
                    <div class="advantages__card">
                        Бесплатную доставку <br class="no-mobile"/> в пределах КАД
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__card">
                        Гарантию <br class="no-mobile"/> на 365 дней
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__card">
                        Выгодный обмен <br class="no-mobile"/> на вашу технику
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__card">
                        К каждой покупке <br class="no-mobile"/> подарок
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brands product-brands">
    <div class="container">
        <div class="brands__body">
            <div class="brands__header">Мы предлагаем товары популярных брендов</div>
            <div class="brands__grid">
                <div class="brands__item">
                    <a href="#" class="brands__card">
                        <img src="/assets/template/images/brands/bosch.png" alt="">
                    </a>
                </div>
                <div class="brands__item">
                    <a href="#" class="brands__card">
                        <img src="/assets/template/images/brands/electrolux.png" alt="">
                    </a>
                </div>
                <div class="brands__item">
                    <a href="#" class="brands__card">
                        <img src="/assets/template/images/brands/indesit.png" alt="">
                    </a>
                </div>
                <div class="brands__item">
                    <a href="#" class="brands__card">
                        <img src="/assets/template/images/brands/ariston.png" alt="">
                    </a>
                </div>
                <div class="brands__item">
                    <a href="#" class="brands__card">
                        <img src="/assets/template/images/brands/lg.png" alt="">
                    </a>
                </div>
                <div class="brands__item">
                    <a href="#" class="brands__card">
                        <img src="/assets/template/images/brands/candy.png" alt="">
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>

//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->