//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="/menu.html">Главная страница</a></li>
                <li><span>Услуги</span></li>
            </ul>
        </div>
    </div>
</div>


<div class="services">
    <div class="container">
        <div class="services__body">
            <h1>Услуги</h1>
            <div class="services__grid">
                <div class="services__item">
                    <a href="#service-1" data-fancybox="" data-options='{ "smallBtn" : false }' class="service-card" style="background-image: url('/assets/template/images/services/service-1.jpg')">
                        <div class="service-card__name">Выкуп техники</div>
                    </a>
                </div>
                <div class="services__item">
                    <a href="#" class="service-card" style="background-image: url('/assets/template/images/services/service-2.jpg')">
                        <div class="service-card__name">Ремонт бытовой техники</div>
                    </a>
                </div>
                <div class="services__item">
                    <a href="#" class="service-card" style="background-image: url('/assets/template/images/services/service-3.jpg')">
                        <div class="service-card__name">Замена уплотнителя</div>
                    </a>
                </div>
                <div class="services__item">
                    <a href="#" class="service-card" style="background-image: url('/assets/template/images/services/service-4.jpg')">
                        <div class="service-card__name">Замена фильтров</div>
                    </a>
                </div>
                <div class="services__item">
                    <a href="#" class="service-card" style="background-image: url('/assets/template/images/services/service-1.jpg')">
                        <div class="service-card__name">Выкуп техники</div>
                    </a>
                </div>
                <div class="services__item">
                    <a href="#" class="service-card" style="background-image: url('/assets/template/images/services/service-2.jpg')">
                        <div class="service-card__name">Ремонт бытовой техники</div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="feedback">
    <div class="container">
        <div class="feedback__body">
            <div class="feedback__header">Не нашли, что искали? Свяжитесь с нами</div>
            <div class="feedback-form">
                <div class="feedback-form__header">Не нашли, что искали?</div>
                <div class="feedback-form__text">
                    Напишите о своей проблеме и оборудовании и специалист нашего
                    сервисного центра свяжется с вами для уточнения деталей и расчета стоимости.
                </div>
                <form action="">
                    <div class="feedback-form__contacts">
                        <div class="feedback-form__double">
                            <div class="feedback-form__item feedback-form__item--name">
                                <div class="feedback-form__label">Имя*</div>
                                <div class="feedback-form__input">
                                    <input type="text" name="receiver" placeholder="">
                                </div>
                            </div>
                            <div class="feedback-form__item feedback-form__item--phone">
                                <div class="feedback-form__label">Телефон*</div>
                                <div class="feedback-form__input">
                                    <input type="text" name="phone" placeholder="" data-mask="+7 (999) 999-99-99">
                                </div>
                            </div>
                        </div>
                        <div class="feedback-form__item feedback-form__item--email">
                            <div class="feedback-form__label">Email</div>
                            <div class="feedback-form__input">
                                <input type="text" name="email" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="feedback-form__bottom">
                        <div class="feedback-form__double">
                            <div class="feedback-form__comment">
                                <div class="feedback-form__label">Комментарии к заказу</div>
                                <div class="feedback-form__textarea">
                                    <textarea name="" id=""></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="feedback-form__button">
                            <button class="btn">Оформить заказ</button>
                            <div class="feedback-form__privacy">
                                Нажимая на кнопку, Вы даете согласие на обработку персональных данных и соглашаюсь
                                с <a href="">Политикой конфиденциальности</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="advantages service-advantages">
    <div class="container">
        <div class="advantages__body">
            <div class="advantages__header">
                Заказывая у нас вы получите
            </div>
            <div class="advantages__box">
                <div class="advantages__item">
                    <div class="advantages__card">
                        Бесплатную доставку <br class="no-mobile"/> в пределах КАД
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__card">
                        Гарантию <br class="no-mobile"/> на 365 дней
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__card">
                        Выгодный обмен <br class="no-mobile"/> на вашу технику
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__card">
                        К каждой покупке <br class="no-mobile"/> подарок
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-text">
    <div class="container">
        <div class="service-text__body stext">
            <h2>Обычный заголовок</h2>
            <p>Сегодня люди не представляют свою жизнь без современных технологий, в частности, без компьютера.
                Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент развития человека.
                Каждая большая и малая промышленность компьютеризирована. Компьютеры выполнять свою работу
                эффективно, быстро и продуктивно. Сегодня люди не представляют свою жизнь без  технологий, в
                частности, без компьютера.Компьютер стал неотъемлемой частью жизни человека. Это обязательный
                инструмент развития человека. </p>
        </div>
    </div>
</div>


<div style="display: none;">
    <div id="service-1" class="service-popup">
        <div class="service-popup__image" style="background-image: url('/assets/template/images/services/service-detail-1.jpg')"></div>
        <div class="service-popup__body">
            <div class="service-popup__header">Выкуп старой бытовой техники</div>
            <div class="service-popup__text">
                <p>
                    Сегодня люди не представляют свою жизнь без современных технологий, в частности,
                    без компьютера.Компьютер стал неотъемлемой частью жизни человека. Это обязательный
                    инструмент развития человека. Каждая большая и малая промышленность компьютеризирована.
                    Компьютеры выполнять свою работу эффективно, быстро и продуктивно. Без сомнений,
                    они сделали нашу жизнь намного легче. Сегодня люди не представляют свою жизнь без
                    современных технологий, в частности, без компьютера.
                </p>
            </div>
            <div class="service-popup__order">
                <div class="service-form">
                    <div class="service-form__header">Оставить заявку</div>
                    <form action="">
                        <div class="service-form__body">
                            <div class="service-form__header-inside">Оставить заявку</div>
                            <div class="service-form__contacts">
                                <div class="service-form__item">
                                    <div class="service-form__label">Имя</div>
                                    <div class="service-form__input">
                                        <input type="text" name="name" placeholder="">
                                    </div>
                                </div>
                                <div class="service-form__item">
                                    <div class="service-form__label">Телефон*</div>
                                    <div class="service-form__input">
                                        <input type="text" name="phone" placeholder="" data-mask="+7 (999) 999-99-99">
                                    </div>
                                </div>
                            </div>
                            <div class="service-form__comment">
                                <div class="service-form__label">Комментарий</div>
                                <div class="service-form__textarea">
                                    <textarea name="" id=""></textarea>
                                </div>
                            </div>
                            <div class="service-form__actions">
                                <div class="service-form__item">
                                    <label for="service-attach" class="service-attach">
                                        Прикрепить файл
                                        <input type="file" id="service-attach"/>
                                    </label>
                                </div>
                                <div class="service-form__item">
                                    <button class="btn">Заказать</button>
                                </div>
                            </div>
                            <div class="service-form__privacy">
                                Нажимая на кнопку, Вы даете согласие на обработку персональных данных и соглашаюсь
                                с <a href="">Политикой конфиденциальности</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->