//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="/menu.html">Главная страница</a></li>
                <li><span>О компании</span></li>
            </ul>
        </div>
    </div>
</div>


<div class="textpage">
    <div class="container">
        <div class="textpage__body stext">
            <h1>«СтиралкаХолод» – бытовая техника б/у по выгодным ценам в СПБ</h1>

            <p>Сегодня люди не представляют свою жизнь без современных технологий, в частности, без
                компьютера.Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент
                развития человека. Каждая большая и малая промышленность компьютеризирована. Компьютеры выполнять
                свою работу эффективно, быстро и продуктивно. Без сомнений, они сделали нашу жизнь намного легче.</p>
            <p>Сегодня люди не представляют свою жизнь без современных технологий, в частности, без компьютера.
                Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент развития человека.
                Каждая большая и малая промышленность компьютеризирована. Компьютеры выполнять свою работу
                эффективно, быстро и продуктивно. Без сомнений, они сделали нашу жизнь намного легче.Но проблема
                в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека.
            Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем, такие как
                головная боль, заболевания кисти, боли в спине, плохое зрение. Кроме того, проводя много времени
                за компьютером, начинаем чрезмерно питаться, что в свою очередь приводит к ожирению.Маленькие дети
                больше всего подвержены риску.</p>
            <p>Сегодня люди не представляют свою жизнь без современных технологий, в частности, без компьютера.
                Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент развития человека.
                Каждая большая и малая промышленность компьютеризирована. Компьютеры выполнять свою работу эффективно,
                быстро и продуктивно. Без сомнений, они сделали нашу жизнь намного легче.Но проблема в том, что
                вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека.
                Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем, такие как
                головная боль, заболевания кисти, боли в спине, плохое зрение. Кроме того, проводя много времени
                за компьютером, начинаем чрезмерно питаться, что в свою очередь приводит к ожирению.Маленькие дети
                больше всего подвержены риску. </p>
            <p>Сегодня люди не представляют свою жизнь без современных технологий, в частности, без компьютера.
                Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент развития человека.
                Каждая большая и малая промышленность компьютеризирована. Компьютеры выполнять свою работу эффективно,
                быстро и продуктивно. Без сомнений, они сделали нашу жизнь намного легче. Компьютеры выполнять свою
                работу эффективно, быстро и продуктивно. Без сомнений, они сделали нашу жизнь намного легче.</p>

        </div>
    </div>
</div>

//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->